
 <div class="child_3_inner_1">


 <div class="child_3_inner">
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Details
</mat-panel-title>
</mat-expansion-panel-header>
<div class="details_parent">
<div>
  <span class="details">Task Name</span> : <span>Coding</span>
</div>
<div>
  <span class="details">Frequency</span> : <span>Daily</span>
</div>
<div>
  <span class="details">Start Date</span> : <span>00/00/0000</span>
</div>
<div>
  <span class="details">End Date</span> : <span>00/00/0000</span>
</div>
<div>
  <span class="details">Start Time</span> : <span>10:10 am</span>
</div>
<div>
  <span class="details">End Time</span> : <span>11:10 am</span>
</div>
<div>
  <span class="details">Description</span> : <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, explicabo?</span>
</div>
</div>



</mat-expansion-panel>
  </div>
</div>
