.mat_list_class {
    height: 100vh;
}
.task_font {
    font-weight: bold;
    font-size: 21px;
    margin: 24px 0 12px 9px;
}
.cursor-pointer {
    cursor: pointer;
  }
.action_button {
    position: relative;
    right: 10px
}
.ml {
    margin-left: 8px;
}
.h_100 {
    height: 97vh;
    position: relative;
}
.list_items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
    align-items: start;
    flex-direction: column;
}
.task_title {
    text-align: center;
    margin-top: 16px;
}
.add_task {
    display: flex;
    justify-content: center;
}
.close_nav {
    display: none;
}
.list_items_inner {
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid grey;
    width: 100%;
}
@media screen and (max-width:420px) {
    .h_100 {
        height: 97vh;
        position: relative;
    }
    .close_nav {
        position: absolute;
        right: 9px;
        cursor: pointer;
        display: block;
    }
}
@media screen and (max-width:960px) {
    .h_100 {
        height: 97vh;
        position: relative;
    }
    .close_nav {
        position: absolute;
        right: 9px;
        cursor: pointer;
        display: block;
    }
}
.date_text {
    text-align: center;
}

// close_nav