<div class="sidenav_component">
  <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" opened>
        <div class="h_100">
          <mat-icon class="close_nav" (click)="closeSideNav()">clear</mat-icon>
          <h1 class="task_title">Today's Task</h1>
          <h4 class="date_text">{{ currentDate | date: 'd MMMM yyyy' }}</h4>
          <div class="add_task">
            <button [routerLink]="'/main-view/task-form'" mat-raised-button color="primary" class="add-task-button">Add Task</button>
          </div>
          <!-- Show this div if there are no task -->
          <div *ngIf="todaysTasks.length === 0">
            <h4>You don't have any task</h4>
          </div>
          <div class="list_items">
            <div *ngFor="let task of todaysTasks" class="list_items_inner">
              <p class="task_font"> - {{ task.taskName }} </p>
              <hr/>
            </div>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>