body {
    margin: 0px;
}

.sidenav_component .mat-sidenav-container {
    height: 100vh !important;
}

.main_view {
    width: 100% !important;
}

.sidenav_component .mat-sidenav {
    width: 256px !important;
    // width: 300px !important;

}

.main_view {
    width: 100% !important;
}

.task_form .mat-sidenav-content {
    width: 100% !important;
}

.mat_list_class .mdc-list-item.mdc-list-item--with-one-line {
    height: 64px;
}

.mat_list_class.mat-mdc-list-non-interactive .mdc-list-item {
    cursor: pointer !important;
}

@media screen and (max-width:420px) {
    .sidenav_component .mat-sidenav {
        width: 100% !important;
    }
}
@media screen and (max-width:960px) {
    .sidenav_component .mat-sidenav {
        width: 100% !important;
    }
}
.weekly_dialog_panel_class .weekly_dialogs_inputs{
    padding: 16px;
}

.fc .fc-daygrid-day-number {
    text-decoration: none !important;
    color: black;
}

.fc .fc-col-header-cell-cushion {
    text-decoration: none !important;
    color: black;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0px;
}
.fc .fc-toolbar-title {
    font-size: 1.75em;
    margin: 16px;
}
.fc-toolbar-chunk {
    margin-right: 16px;
}
.calendar {
    width: 100%;
    aspect-ratio: 1.6; /* 16:10 aspect ratio */
    height: 100vh;
  }
  @media (max-width: 600px) {
    .calendar {
      height: auto; /* Reset height to auto for smaller screens */
    }
    .fc-direction-ltr {
        direction: ltr;
        text-align: left;
        height: 100vh;
    }
}