<div class="task_form">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
    <div class="task_form">
      <div class="child_1">
        <h3 class="add_task_title">Edit Task</h3>
      </div>
      <div class="child_2 one_field_parent">
        <div class="form_div">
          <div>
            <mat-form-field class="one_field">
              <input matInput formControlName="taskName" placeholder="Task Name" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="margin_left one_field" >
              <mat-select formControlName="frequency" placeholder="Frequency" (selectionChange)="selectedFrequency = $event.value">
                <mat-option value="hourly">Hourly</mat-option>
                <mat-option value="daily">Daily</mat-option>
                <mat-option value="weekly">Weekly</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="child_2_child" class="one_field_parent">
        <div *ngIf="selectedFrequency === 'hourly'" class="one_field">
          <mat-form-field appearance="fill" class="one_field">
            <mat-label>Choose start date</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngIf="selectedFrequency === 'daily'" class="one_field">
          <mat-form-field appearance="fill" class="one_field">
            <mat-label>Choose start date</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngIf="taskForm.get('frequency')?.value === 'weekly'">
          <mat-form-field style="width: 100%;">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field style="width: 100%;">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field style="width: 100%;">
            <mat-label>Choose Days of the Week</mat-label>
            <mat-select multiple formControlName="daysOfWeek">
              <mat-option *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']" [value]="day">{{ day }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="one_field_parent">
        <div class="time_field one_field">
          <mat-form-field class="one_field">
            <input matInput formControlName="startTime" placeholder="Choose Start Time" [ngxTimepicker]="picker3" required>
            <ngx-material-timepicker #picker3></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <div class="time_field one_field">
          <mat-form-field class="one_field">
            <input matInput formControlName="endTime" placeholder="Choose End Time" [ngxTimepicker]="picker4" required>
            <ngx-material-timepicker #picker4></ngx-material-timepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="one_field_parent">
        <mat-form-field class="margin_left one_field" >
          <mat-select formControlName="status" placeholder="Status">
            <mat-option value="todo">Todo</mat-option>
            <mat-option value="in-progress">In-Progress</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="one_field_parent">
        <div class="editor_field one_field">
          <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
        </div>
      </div>
      <div class="margin_top">
        <button mat-raised-button class="add-task-button" color="primary" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
<div class="child_3">
  <app-task-detail></app-task-detail>
</div>
